body {
    margin: 0;
}
.estilo1 {
    margin: 0;
    background-color: black;
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.estilo1 li:hover {
    color: rgb(252, 126, 15);
}